.logo {
    padding: 24px 32px 20px 32px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo-icon {
    display: flex;
    align-items: center;
    color: #ffffff;
}

.logo-text {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.logo-text-main {
    display: flex;
    align-items: baseline;
}

.logo-text-primary {
    font-size: 24px;
    font-weight: bold;
    color: #ffffffff;
}

.logo-text-secondary {
    font-size: 24px;
    font-weight: bold;
    color: #ffffffff;
}

.logo-text-subtitle {
    font-size: 10px;
    letter-spacing: 0.15em;
    color: #a0a0a0;
    margin: 0;
    margin-top: -4px;
}

@media (max-width: 1030px) {
    .logo {
        justify-content: center;
        padding: 16px 0;
        margin: 16px 0 24px 0
    }
    
    .logo-text {
        display: none;
    }
}