.logo {
  padding: 24px 32px 20px 32px;
}

.logo-text {
    font-size: 24px;
    font-weight: 700;
    color: var(--text-primary);
}

.logo-text-primary {
    font-size: 30px;
    font-weight: bold;
    color: #ffffffff;
}

.logo-text-secondary {
    font-size: 30px;
    font-weight: bold;
    color: #ffffffff;
}

.logo-text-subtitle {
    font-size: 10px;
    letter-spacing: 0.15em;
    color: #a0a0a0;
    margin: 0;
    margin-top: '-4px'
}