.spinner-overlay {
    position: fixed;
    /* same as top: 0; left: 0; right: 0; bottom: 0 */
    inset: 0;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(3px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
