.section-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}

.section-title {
    font-size: 24px;
    font-weight: 700;
    margin: 8px 0px;
}

.see-all-link {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    font-size: 14px;
    background: transparent;
    border: none;
    color: var(--text-secondary);
    cursor: pointer;
}

.see-all-link:hover {
    color: var(--primary-purple);
}
