.genre-card {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100px;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  cursor: pointer;
}

.genre-card:hover {
  filter: brightness(0.75);
  transition: filter 0.3s ease;
}

.genre-card-image {
  position: absolute;
  border-radius: 8px;
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
  z-index: 0;
}

.genre-card-title {
  padding: 20px;
  color: var(--text-primary);
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  max-width: 60%;
  z-index: 1;
}