.genre-card {
  position: relative;
  border-radius: 8px;
  padding: 16px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100px;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  cursor: pointer;
}

.genre-card:hover {
  transform: scale(1.03);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
}

.genre-card-title {
  color: var(--text-primary);
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  max-width: 60%;
  z-index: 1;
}

.genre-card-image {
  position: absolute;
  bottom: -10px;
  right: -10px;
  width: 80px;
  height: 80px;
  border-radius: 8px;
  object-fit: cover;
  transform: rotate(15deg);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
}

.genre-card:hover .genre-card-image {
    transform: rotate(5deg) scale(1.1);
}