.header {
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 24px;
  background-color: var(--background-main);
  flex-shrink: 0;
  z-index: 10;
}

.header-left {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 8px;
}

.navigation-arrows {
  display: flex;
  gap: 8px;
}

.nav-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: var(--text-primary);
  background-color: var(--component-bg);
  transition: background-color 0.2s;
}

.nav-arrow:not(.disabled):hover {
  background-color: var(--component-hover-bg);
}

.nav-arrow.disabled {
  color: var(--text-tertiary);
  cursor: not-allowed;
  opacity: 0.7;
}

.search-bar {
  position: relative;
  flex: 1;
  min-width: 200px;
}

.search-icon {
  position: absolute;
  left: 16px;
  top: 52%;
  transform: translateY(-50%);
  color: var(--text-tertiary);
}

.search-bar input {
  background-color: var(--sidebar-bg);
  border: none;
  border-radius: 9999px;
  padding: 10px 32px 8px 48px;
  width: 100%;
  height: 38px;
  font-family: 'Lexend';
  font-size: 14px;
  color: var(--text-primary);
  caret-color: var(--primary-purple);
}

.search-bar input::placeholder {
  color: var(--text-tertiary);
}

.search-bar input:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--primary-purple);
}

.header-button {
  height: 40px;
  display: flex;
  align-items: center;
  padding: 8px 24px;
  border-radius: 9999px;
  font-size: 14px;
  font-weight: 600;
  transition: opacity 0.2s;
}

.header-button:hover {
  opacity: 0.9;
}

.header-button.primary {
  background-color: var(--component-bg);
  color: var(--text-primary);
}

.header-button.secondary {
  background-color: var(--primary-purple);
  color: var(--text-primary);
}

.icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--component-bg);
  transition: opacity 0.2s;
}

.icon-button:hover {
  opacity: 0.8;
}

@media (max-width: 910px) {
  .header-button.primary {
    display: none;
  }
}

@media (max-width: 810px) {
  .icon-button {
    display: none;
  }
}