.item-card-column {
    background-color: var(--sidebar-bg);
    padding: 16px;
    border-radius: 8px;
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
  50% {
    opacity: .5;
  }
}

.item-card-column-image {
    width: 100%;
    padding-bottom: 100%;
    background-color: #6b7280;
    border-radius: 4px;
}

.item-card-column-title {
    height: 1rem;
    background-color: #6b7280;
    border-radius: 4px;
    width: 75%;
    margin-top: 1rem;
}

.item-card-column-artist {
    height: 0.75rem;
    background-color: #6b7280;
    border-radius: 4px;
    width: 50%;
    margin-top: 0.5rem;
}