.noFavoriteState {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 400px;
}

.noFavoriteImage {
    max-width: 200px;
    width: 100%;
    height: auto;
    opacity: 0.9;
    margin-bottom: 1rem;
}

.noFavoriteMessage {
    font-size: 0.875rem;
    color: var(--text-tertiary);
    font-weight: 500;
    margin: 0;
    margin-bottom: 4rem;
    max-width: 400px;
}
