.appLayout {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.sidebar {
  flex-shrink: 0;
  width: 250px;
}

.appBody {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

.mainContent {
  flex: 1;
  overflow-y: auto;
  background-color: var(--background-main);
  padding: 0px 24px 16px 24px;
}