.footer {
  color: #ffffff;
  padding: 40px 0 0 0;
  margin-top: auto;
  border-top: 1px solid var(--sidebar-bg);
  background-color: var(--background-main);
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
}

.footer-content {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 40px;
  margin-bottom: 40px;
}

.footer-section {
  display: flex;
  flex-direction: column;
}

.company-info {
  max-width: 350px;
  margin-top: -12px;
  margin-left: 32px;
}

.company-description {
  font-size: 14px;
  line-height: 1.6;
  color: var(--text-tertiary);
  margin: 0px 0 24px 0;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.contact-info p {
  font-size: 14px;
  color: var(--text-tertiary);
  margin: 0;
  display: flex;
  align-items: center;
  gap: 8px;
}

.contact-icon {
  font-size: 16px;
  width: 20px;
  text-align: center;
}

.footer-title {
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 16px;
  margin-top: 0;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer-links li a {
  color: var(--text-tertiary);
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s ease;
}

.footer-links li a:hover {
  color: #ffffff;
}

.social-links {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.social-link {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--text-tertiary);
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s ease;
}

.social-link:hover {
  color: #fff
}

.social-icon {
  font-size: 18px;
  width: 24px;
  text-align: center;
}

.social-name {
  font-size: 14px;
}

.footer-bottom {
  border-top: 1px solid var(--sidebar-bg);
  padding: 20px 0;
}

.footer-bottom-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.footer-bottom-content p {
  margin: 0;
  font-size: 12px;
  color: var(--text-tertiary);
}

@media (max-width: 1030px) {
  .footer-content {
    grid-template-columns: 2fr 1fr 1fr;
    gap: 30px;
  }
  
  .footer-section:nth-child(4),
  .footer-section:nth-child(5) {
    grid-column: span 1;
  }

  .company-info {
    max-width: 100%;
    margin-left: 0;
  }

}

@media (max-width: 768px) {
  .footer-container {
    padding: 0 80px;
  }

  .footer-content {
    grid-template-columns: 1fr 1fr;
    gap: 48px;
  }
  
  .company-info {
    grid-column: span 2;
    max-width: 100%;
    margin-left: 0;
  }
  
  .company-description {
    margin-bottom: 16px;
  }
}

.footer-section .logo {
  padding: 0;
  margin-bottom: 16px;
}

